# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode User Data
xcuserdata/

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.app
*.ipa
*.dSYM.zip
*.dSYM
